/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #000;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar {
  background-color: #F8F8FF;
  padding: 5px 5px 5px 5px;
}

.nav-item:hover{
    background-color: #4f95da;
    color: white;
}

.navbar-brand {
  padding: 5px 5px 5px 5px;
}

.navbar-brand:active {
  color: aqua;
}

  .navbar-brand:hover {
    background-color: #4f95da;
    color: white;
  }

.nav-link {
    color: #0366d6;
}

.nav-link:active{
    color: aqua;
}

.nav-link:hover {
    color: white;
}

.navbar-toggler {
    background-color: #4f95da;
}

.center {
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 90%;
  min-height: 100vh;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-style:solid;
  border-radius: 5px;
}

body {
  background-color: #6099fc;
  background-image: linear-gradient(to bottom right, #6099fc, black);
}

h1 {
  color: #00008B;
}

input {
  width: 200px;
  float: inherit;
  background-color: lightgray;
}

  input:focus {
    background-color: white;
  }

label {
  width: 80px;
  float: left;
  text-align: left;
  color: #0040ff;
}


