/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #000;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar {
  background-color: #F8F8FF;
  padding: 5px 5px 5px 5px;
  position:fixed;
  top: auto;
  width: 100%;
  z-index: 4;
}

.nav-item:hover{
    background-color: #4f95da;
    color: white;
}

.navbar-brand {
  padding: 5px 5px 5px 5px;
}

.navbar-brand:active {
  color: aqua;
}

  .navbar-brand:hover {
    background-color: #4f95da;
    color: white;
  }

.nav-link {
    color: #0366d6;
}

.nav-link:active{
    color: aqua;
}

.nav-link:hover {
    color: white;
}

.navbar-toggler {
    background-color: #4f95da;
}

.center {
  z-index: 2;
  background-color: aliceblue;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  min-width: 90%;
  max-width: 90%;
  min-height: 100vh;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-style:solid;
  border-radius: 5px;
}

body {
  background-color: #6099fc;
  background-image: linear-gradient(to bottom right, #6099fc, black);
  background-attachment: fixed;
}

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    z-index: 3;
    top:80px;
}

.container {
  position: relative;
}


.box {
  z-index: 0;
  position: fixed;
  background-color: transparent;
  border: 6px solid rgba(255,255,255, 0.8);
  width: 60px;
  height: 60px;
}

.spinner-1{
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.spinner-2 {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.spinner-3 {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.spinner-4 {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.spinner-5 {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.spinner-6 {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.spinner-7 {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.spinner-8 {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.spinner-9 {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.spinner-10 {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

  @keyframes animate{
      0%{
          z-index: 0;
          transform: scale(0) translateY() rotate(0);
          opacity: 1;
      }
    100% {
        z-index: 0;
      transform: scale(1.3) translateY(-90px) rotate(360deg);
      opacity: 0;
    }
  }




h1 {
  color: #00008B;
}

input {
  width: 200px;
  float: inherit;
  background-color: lightgray;
}

  input:focus {
    background-color: white;
  }

label {
  width: 80px;
  float: left;
  text-align: left;
  color: #0040ff;
}


